/*

    Theme: DevArtistry
    Author: akthssn
    Email: atik.hassan@outlook.com
    Version: 1.0.0

*/

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #f5f5f5;
    color: #000;
    margin: 0;
    padding: 20px;
  }

  header, footer {
    text-align: center;
    margin-bottom: 20px;
  }

  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007acc;
    transition: all 0.4s ease-in-out;
  }

  nav a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    margin: 10px 0;
  }

  footer a {
    text-decoration: none;
    color: #00ff00;
    transition: all 0.4s ease-in-out;
  }

  footer a:hover {
    color: #000;
    text-decoration: underline;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.175);
  }

  .intro {
    margin-bottom: 20px;
  }

  .intro h2 {
    margin-top: 0;
  }

  .theme-header{
    margin-top: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;  
    line-height: 1;
  }

  .theme-header > img{
    width: 70px;
    border-radius: 100%;
    -webkit-animation: scale-up-center 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate ;
	        animation: scale-up-center 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate ;
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .theme-header > h1{
    margin-top: 10px;
    margin-left: 20px;
  }

  /* 
  
    Versioning -> MAJOR.MINOR.PATCH
        => 1.0.0 -> Initial Release (Major changes)
        => 1.1.0 -> Adding New Features (Minor changes)
        => 1.1.1 -> Bug/Issue fixing (Patch updates)
        => 2.0.0 -> Breaking Changes (Major changes)
  
  */